<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/index.css">
    <title>heroes</title>
</head>
<body>
    <h1 style="background-color: rgb(119, 190, 167) ;">heroinas y heroes de la tecnologia</h1>
    <a href="/views/babbage.html">Charles-Babbage</a>
    <a href="/views/berners-lee.html">Berners-Lee</a>
    <a href="/views/clarke.html">Arthur C. Clarke</a>
    <a href="/views/hamilton.html">Margaret Hamilton</a>
    <a href="/views/hopper.html">Grace Murray Hopper</a>
    <a href="/views/lovelace.html">Ada Lovelace</a>
    <a href="/views/turing.html">Alan Turing</a>
    
</body> 
    
</html>